# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## File-based project format:
*.iws
*.iml

# IntelliJ
/out/
.idea/
lightcrm.iml
lightcrm_common/target/
lightcrm_db/target/
lightcrm_web/target/
lightcrm_common/src/test/
lightcrm_db/src/test/
lightcrm_web/src/test/
lightcrm_common/commom.iml
lightcrm_db/db.iml
lightcrm_web/web.iml
